.main_home {
  background: #1a1c1e;
  display: flex;
  min-width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.div_home {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;

  width: 80%;
  max-width: 400px;
  margin: 0 auto 40px auto;
  height: 200px;

  animation: show 1s .2s ease-in-out forwards;
}

figure h1{
  font-family: var(--font-family);
  font-size: var(--fontSize-title-1);
  font-weight: var(--fontWei-title-1);
  letter-spacing: -1px;
  color: var(--color-primary);
}

figure span{
  font-family: var(--font-family);
  font-size: var(--fontSize-title-1);
  font-weight: var(--fontWei-title-1);
  letter-spacing: -1px;
  color: var(--white);
}

.div_home > h1 {
  font-family: var(--font-family);
  font-size: var(--fontSize-title-1);
  font-weight: var(--fontWei-title-1);
  color: var(--white);
}

.div_home p {
  font-family: var(--font-family);
  font-size: var(--fontSize-text-1);
  font-weight: var(--fontWei-text-1);
  color: var(--white);
}

.div_home button {
  font-family: var(--font-family);
  font-size: var(--fontSize-text-1);
  font-weight: var(--fontWei-text-2);
  line-height: var(--lineHei-text-2);
  width: 60%;
  margin: 0 auto;
  border: 1px solid transparent;
  border-radius: 0.6rem;
  color: var(--white);
  background-color: var(--color-primary);
  transition: box-shadow 0.3s ease, transform 0.3s ease, background-color 0.5s,
  color 0.5s;
}

.div_home button:hover {
  border-color: var(--color-primary-2);
  box-shadow: 3px 3px 0 0.5px #550f4f;
  background-color: var(--color-primary-2);
  color: var(--grey-6);
  animation: vibrar 0.5s linear infinite;
}

.ball {
  width: 300px;
  height: 300px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: show2 1s .2s ease-in-out forwards;
}

.ball > img {
  max-width: 100%;
}

/* @KeyFrames  */

@keyframes vibrar {
  0% {
    transform: rotateZ(-2deg);
  }
  50% {
    transform: rotateZ(2deg);
  }
  100% {
    transform: rotateZ(-2deg);
  }
}

@keyframes show {
  0%{
    opacity: 0.5;
    transform: translateY(-25px);
  }
  
  50%{
    opacity: 0.8;
    transform: translateY(10px);
  }
  
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes show2 {
  0%{
    opacity: 0.5;
    transform: translateY(25px);
  }
  
  50%{
    opacity: 0.8;
    transform: translateY(-10px);
  }
  
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

/* @Media  */

@media (min-width: 1000px) {
  .main_home {
    flex-direction: row;
    justify-content: space-around;
  }
  
  .div_home {
    margin: 0;
  }
  
  .ball {
    width: 400px;
    height: 400px;
  }
}
