.section_form {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-width: 400px;
  max-width: 600px;
  
  animation: show 1s 0.2s ease-in-out forwards;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  
  width: 80%;

  margin: 35px auto 0 auto;
  padding: 15px;

  border: 1px solid #87848140;
  border-radius: 0.4rem;
  background: #e0a0fb;
}

.box-inputValue {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  width: 100%;
}

.form button {
  margin: 15px auto 0 auto;

  width: 90%;
  height: 35px;

  border: none;
  color: var(--grey-6);
  background-color: var(--color-primary);

  transition: box-shadow 0.3s ease, transform 0.3s ease, background-color 0.5s,
    color 0.5s;
}

.form button:hover {
  border-color: var(--color-primary);
  color: var(--grey-6);
  background-color: var(--color-primary-2);
  
  box-shadow: 2px 2px 0 0.5px #550f4f;
  
  transform: scale(1.01);
}

.form button:active {
  box-shadow: 0 0 0 0, inset 2px 2px 2px 0.5px #550f4f;
  transform: translate(2px, 2px);
}

.label-description {
  position: relative;
  
  display: flex;
  gap: 10px;
  flex-direction: column;

  padding-top: 13px;
}

.label-description input {
  border: 0;
  border-radius: .3rem;
  border-bottom: 2px solid lightgrey;
  outline: none;
 
  width: 100%;
  height: 20px;
 
  font-size: 14px;
  
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -webkit-appearance:none;
}

.label-description span {
  font-family: var(--font-family);
  font-size: var(--fontSize-text-2);
  font-weight: var(--fontWei-text-2);
}

.label-description input:focus {
  border-bottom: 2px solid var(--color-primary);
}

.label-description input::placeholder {
  color: transparent;
}

.label-description label {
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: var(--fontWei-text-1);
 
  pointer-events: none;
  
  position: absolute;

  top: 5px;
  left: 5px;
  margin-top: 13px;
 
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
}

.label-description input:focus + label,
.label-description input:not(:placeholder-shown) + label {
  font-size: 13px;
  
  margin-top: 0;
  top: 0;
  left: 0;
 
  color: var(--color-primary);
}

.label-value {
  display: flex;
  gap: 10px;
 
  width: 35%;
 
  position: relative;
 
  padding-top: 13px;
}

.label-value input {
  border-radius: .3rem;
  border: 0;
  border-bottom: 2px solid lightgrey;
  outline: none;

  min-width: 90%;
  height: 20px;

  font-size: 14px;

  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-appearance: none;
}

.label-value span {
  font-family: var(--font-family);
  font-size: var(--fontSize-text-2);
  font-weight: var(--fontWei-text-2);
}

.label-value input:focus {
  border-bottom: 2px solid var(--color-primary);
}

.label-value input::placeholder {
  color: transparent;
}

.label-value label {
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: var(--fontWei-text-1);

  pointer-events: none;
  position: absolute;

  top: 5px;
  left: 5px;
  margin-top: 13px;

  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
}

.label-value input:focus + label,
.label-value input:not(:placeholder-shown) + label {
  font-size: 13px;
  
  top: 0;
  left: 0;

  margin-top: 0;
  
  color: var(--color-primary);
}

.box-inputValue > .box-select {
  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 40%;
  height: 50px;
  margin-bottom: 10px;
}

.box-inputValue > .box-select > h3 {
  font-family: var(--font-family);
  font-size: var(--fontSize-text-1);
  font-weight: var(--fontWei-text-1);
}

.box-inputValue > .box-select > select {
  height: 30px;

  border: 1px solid var(--color-primary-2);
  border-radius: 0.4rem;
  background-color: var(--grey-6);
}

@keyframes show {
  0%{
    opacity: 0.3;
    transform: translate(-10px, -5px);
  }
  
  50%{
    opacity: 0.8;
    transform: translate(5px, 2px);
  }
  
  100%{
    opacity: 1;
    transform: translate(0);
  }
}

@media (min-width: 1000px) {
  .section_form {
    min-width: 400px;
    max-width: 450px;
    margin-top: 50px;
  }
}
