.list {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  margin-bottom: 25px;
}

.header_list {
  display: flex;
  height: 50px;
  padding: 5px;
  width: 85%;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto 10px auto;
}

.header_list h2 {
  font-family: var(--font-family);
  font-size: var(--fontSize-text-1);
  font-weight: var(--fontWei-title-2);
}

.btn_filtro {
  display: flex;
  width: 80%;
  gap: 10px;
}

.btn_filtro button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
  font-size: var(--fontSize-text-2);
  font-weight: var(--fontWei-title-4);
  color: var(--grey-2);
  width: 70px;
  border-radius: 0.4rem;
  background-color: var(--grey-6);
  border: 1px solid transparent;
  transition: box-shadow 0.3s ease, transform 0.3s ease, background-color 0.5s,
    color 0.5s;
}

.btn_filtro button:hover {
  border-color: var(--color-primary);
  box-shadow: 2px 2px 0 0.5px #a01d4b;
  background-color: var(--color-primary-2);
  color: var(--grey-6);
  transform: scale(1.08);
}

.btn_filtro button:active {
  box-shadow: 0 0 0 0, inset 2px 2px 2px 0.5px #a01d4b;
  transform: translate(2px, 2px);
}

.container_card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 1px solid #87848140;
  padding: 15px;
  width: 83%;
  margin: 0 auto;
  border-radius: 0.4rem;
}

.btn_filtro .btn-color {
  background: var(--color-primary);
  border: 0;
}

@media (min-width: 1000px) {
  .list {
    margin: 75px 0 0 0;
  }
}
