.list {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin-bottom: 25px;
}

.header_list {
  display: flex;
  height: 50px;
  padding: 5px;
  width: 85%;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto 10px auto;
}

.header_list h2 {
  font-family: var(--font-family);
  font-size: var(--fontSize-text-1);
  font-weight: var(--fontWei-title-2);
  width: 40%;
}

.btn_filtro {
  display: flex;
  width: 80%;
  gap: 10px;
}

.container_card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 1px solid #87848140;
  padding: 15px;
  width: 83%;
  margin: 0 auto;
  border-radius: 0.4rem;
}

.carrinhoVazio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  width: 100%;
}

.carrinhoVazio h2 {
  font-family: var(--font-family);
  font-size: var(--fontSize-text-1);
  font-weight: var(--fontWei-title-2);
}

.carrinhoVazio img {
  max-width: 85%;
}

@media (min-width: 1000px) {
  .list {
    min-width: 600px;
    margin: 65px 0 0 0;
  }
}
