.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  min-height: 80px;
  width: 90%;
  
  padding: 10px;
  margin: 0 auto 10px auto;
  
  background-color: var(--color-primary);
  border-radius: 0.4rem;
  color: var(--white);
}

#li_entrada {
  border-left: 3px solid #22c07e;
}

#li_saida {
  border-left: 3px solid var(--grey-3);
}

.description {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 50%;
  min-height: 80px;
}

.description h3 {
  font-family: var(--font-family);
  font-size: var(--fontSize-text-1);
  font-weight: var(--fontWei-title-1);
}

.description span {
  position: absolute;

  bottom: 0;
  left: 2px;

  font-family: var(--font-family);
  font-size: var(--fontSize-text-2);
  font-weight: var(--fontWei-text-1);
}

.box-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  text-align: center;

  width: 40%;
  height: 25px;
}

.lixeira {
  background: #f8f9fa;
  border: 1px solid transparent;
  border-radius: 0.3rem;
  color: var(--grey-3);

  padding: 2px;

  width: 15px;
  height: 15px;

  transition: transform 0.5s ease, background-color 0.7s, color 0.5s;
}

.lixeira:hover {
  background-color: var(--grey-2);
  color: var(--grey-6);

  transform: scale(1.2);
}

.lixeira:active {
  transform: perspective(500px) translate(2px, 2px) ;
}

@media (max-width: 1000px){
  .card{
    width: 93%
  }
}
